// out: ../res/global.css, compress: true, strictMath: true, cleancss:true, autoprefixer:true


@import './btn';
@import './function';
@import './skin';
@import './u-icon';
@import './unit';
@color_r:#c9042a;
@color_ri:#c90329;
@color_p:#fb5b5a;
@color_pp:#feeeec;
@color_b:#0172bb;
@color0:#0c0c0c;
@color1:#333;
@color2:#3c3c3c;
@color3:#4f4f4f;
@color4:#636363;
@color5:#999;
body {
}
* {
  margin:0;
  padding:0;
  list-style:none;
}
a {
  color:@color1;
  text-decoration:none;
}
a:hover {
  color:@color1;
  text-decoration:none;
}
body {
  font-family: 'Microsoft yahei';
  background-color: #f9f9f9;
}
ul,
li {
  list-style: none;
}
.g-head{
  width: 992px;
  margin: 0 auto;
}
.g-body{
  width: 992px;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
}
.m-crm{
  color:@color5;
  font-size: 15px;
  margin-top: 18px;
  margin-bottom: 20px;
}
.m-Vehiclecommodity{

  margin:25px 20px;
}
.m-vc-img{
  width: 298px;
  height: 198px;
  float: left;
}
.m-vc-tt{
  width:330px;
  height: 200px;
  margin-left: 40px;
  overflow: hidden;
  float:left;
  .cx{
    margin-top: 28px;
    .t{
      font-size: 18px;
      font-weight: 700;
      color:@color1;
    }
  }
  .zyd{
    margin-top: 37px;
    .t{
      font-size: 14px;
      color:@color4;
    }
  }
  .pd{
    margin-top: 50px;
    font-size: 12px;
  }

}
.m-vc-cc{
  width:270px;
  height: 200px;
  margin-left: 7px;
  float:left;
  .t{
    margin-top: 33px;

  }
  .c{
    margin-top: 23px;
  }
  .c2{
    margin-top: 33px;
  }
}
.m-texlist{
  margin: 25px 20px;
  border:1px solid #e2e2e2;
  border-top:1px solid @color_p;
  padding: 0 18px 0 34px;
}
.m-catalog{
  margin-top: 30px ;
  margin-bottom: 30px;
  position: relative;
  .bg{
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.m-ct-list{
  margin-left: 50px;
  .z-action{
    background-color: @color_p;
    span{
      color: @color_pp;
    }
  }
}
.m-ct-hkqx{
  margin-top: 18px;
}
.m-ct-left{
  float: left;
}
.m-ct-right{
  float:right;
  border-left: 1px solid #c1c1c1;
  padding-left: 30px;
  padding-right: 10px;
  .cc{
    margin-top: 21px;
  }
}

