// out: null
.s-color-b0{
  color:@color0;
}
.s-color-b1{
  color:@color1;
}
.s-color-b2{
  color:@color2;
}
.s-color-b3{
  color:@color3;
}
.s-color-b4{
  color:@color4;
}
.s-color-b5{
  color:@color5;
}
.s-color-r{
  color:@color_r;
}
.s-color-p{
  color:@color_p;
}
.s-color-pp{
  color:@color_pp;
}
.s-color-b{
  color:@color_b;
}
.s-st{
  font-family: "simsun";
}
.s-anchor{
  color:@color5;
  text-decoration: underline;
}
.s-main{
  color:@color4;
  font-size: 15px;
}
.s-hg{
  font-size: 30px;
  font-weight: bolder;
}
.s-ws{
  letter-spacing: 1em;
}

