// out: null
@color_r:#c9042a;
@color_p:#fb5b5a;
@color_pp:#feeeec;
@color_b:#0172bb;
@color0:#0c0c0c;
@color1:#333;
@color2:#3c3c3c;
@color3:#4f4f4f;
@color4:#636363;
@color5:#999;
.s-color-b0{
  color:@color0;
}
.s-color-b1{
  color:@color1;
}
.s-color-b2{
  color:@color2;
}
.s-color-b3{
  color:@color3;
}
.s-color-b4{
  color:@color4;
}
.s-color-b5{
  color:@color5;
}
.s-color-r{
  color:@color_r;
}
.s-color-p{
  color:@color_p;
}
.s-color-pp{
  color:@color_pp;
}
.s-color-b{
  color:@color_b;
}
